name: Burdbot main CI workflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  get-repo-loc:
    name: Get the LOC for the repo
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Get SLOC
        run: sudo npm install -g sloc
      - name: Run SLOC
        run: sloc --keys source --details ./ 2>&1 | tee sloc.txt
      - uses: actions/upload-artifact@v4
        with:
          name: LOC
          path: sloc.txt

  format-build-project:
    name: Check format and build the project
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Burdbot workspace
        uses: ./.github/actions/setup-burdbot-workspace

      - name: Check formatting with cargo fmt
        run: cargo fmt --all --check

      - name: Build
        run: cargo build --workspace --verbose

  test-project:
    name: Run cargo tests on the project
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Burdbot workspace
        uses: ./.github/actions/setup-burdbot-workspace

      - name: Build test code
        run: cargo test --workspace --no-run --verbose --no-default-features
      - name: Execute tests
        run: cargo test --workspace --verbose  --no-default-features

  lint-project:
    name: Run clippy lints on the project
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Burdbot workspace
        uses: ./.github/actions/setup-burdbot-workspace

      - name: Lint repo with cargo clippy
        run: cargo clippy --workspace -- -D clippy::all -D warnings

  llvm-lines:
    name: Get LLVM line info on largest functions
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Burdbot workspace
        uses: ./.github/actions/setup-burdbot-workspace

      - name: Install cargo llvm-lines
        run: cargo install cargo-llvm-lines

      - name: Get LLVM line count info on top 100 functions
        run: cargo llvm-lines --release -p burdbot | head -104
